{
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	],
	"singleQuote": true,
	"printWidth": 80,
	"proseWrap": "always",
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"semi": true
}
