---
import Metahead from '../components/layout/Metaheader.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
---

<!doctype html>
<html lang="en">
	<Metahead />
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
